/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
body {/*
  background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, color-stop(50%, rgba(61, 110, 178, 0.2)), color-stop(100%, rgba(28, 45, 83, 0))), -webkit-gradient(radial, 100% 10%, 0, 100% 10%, 80, color-stop(20%, rgba(185, 75, 12, 0.6)), color-stop(80%, rgba(72, 154, 50, 0.3))), -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(1%, #475ead), color-stop(50%, #ae8439), color-stop(100%, #1d2541));
  background-image: -webkit-radial-gradient(50% 100%, ellipse cover, rgba(61, 110, 178, 0.2) 50%, rgba(28, 45, 83, 0) 100%), -webkit-radial-gradient(100% 10%, ellipse cover, rgba(185, 75, 12, 0.6) 20%, rgba(72, 154, 50, 0.3) 80%), -webkit-linear-gradient(left top, #475ead 1%, #ae8439 50%, #1d2541 100%);
  background-image: -moz-radial-gradient(50% 100%, ellipse cover, rgba(61, 110, 178, 0.2) 50%, rgba(28, 45, 83, 0) 100%), -moz-radial-gradient(100% 10%, ellipse cover, rgba(185, 75, 12, 0.6) 20%, rgba(72, 154, 50, 0.3) 80%), -moz-linear-gradient(left top, #475ead 1%, #ae8439 50%, #1d2541 100%);
  background-image: -o-radial-gradient(50% 100%, ellipse cover, rgba(61, 110, 178, 0.2) 50%, rgba(28, 45, 83, 0) 100%), -o-radial-gradient(100% 10%, ellipse cover, rgba(185, 75, 12, 0.6) 20%, rgba(72, 154, 50, 0.3) 80%), -o-linear-gradient(left top, #475ead 1%, #ae8439 50%, #1d2541 100%);
  background-image: radial-gradient(50% 100%, ellipse cover, rgba(61, 110, 178, 0.2) 50%, rgba(28, 45, 83, 0) 100%), radial-gradient(100% 10%, ellipse cover, rgba(185, 75, 12, 0.6) 20%, rgba(72, 154, 50, 0.3) 80%), linear-gradient(left top, #475ead 1%, #ae8439 50%, #1d2541 100%);*/
}

/* -----------------------------------------
	FONTS
	@font-face delcarations
----------------------------------------- */

@font-face {
    font-family: 'GothicBoldCond';
    src: url('font/vgothicboldcond.eot');
    src: url('font/vgothicboldcond.eot?#iefix') format('embedded-opentype'),
         url('font/vgothicboldcond.woff') format('woff'),
         url('font/vgothicboldcond.ttf') format('truetype'),
         url('font/vgothicboldcond.svg#GothicBoldCond') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothicLight';
    src: url('font/vgothiclight.eot');
    src: url('font/vgothiclight.eot?#iefix') format('embedded-opentype'),
         url('font/vgothiclight.woff') format('woff'),
         url('font/vgothiclight.ttf') format('truetype'),
         url('font/vgothiclight.svg#GothicLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothicBold';
    src: url('font/vgothicbold.eot');
    src: url('font/vgothicbold.eot?#iefix') format('embedded-opentype'),
         url('font/vgothicbold.woff') format('woff'),
         url('font/vgothicbold.ttf') format('truetype'),
         url('font/vgothicbold.svg#GothicBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.article_title h1 {
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 6px;
	line-height: 24px;
	font-family: "GothicBoldCond", sans-serif;
	font-weight: normal;
}
.article_title h2 {
	font-family: 'GothicLight', sans-serif;
	font-weight: normal;
	font-size: 18px;
	text-transform: uppercase;
}
.article_title h3 {
	font-family: "GothicBold", sans-serif;
	font-weight: normal;
	line-height: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 11px;
}
.navbar-inner {
background: #7d7e7d; /* Old browsers */
background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

	min-height: 46px;
	line-height: 46px;
	border: none;
}
.navbar .brand {
padding: 0px 20px 0px;
font-family: 'GothicBoldCond';
text-shadow: none;
color: #fff;
}


.navbar .nav .dropdown-toggle .caret {
margin-top: 22px;
}
.navbar .nav > li > a {
line-height: 46px;
padding: 0 15px;
text-shadow: none;
color: #f7f7f7;

}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -46px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 46px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 45px;
}
.container .credit {
  	margin: 0;
	line-height: 46px;
}

code {
  font-size: 80%;
}
